/mongo.exe
/mongod.exe
/mongodump.exe
/mongoexport.exe
/mongofiles.exe
/mongoimport.exe
/mongorestore.exe
/mongos.exe
/mongostat.exe
/mongotop.exe
/*.exe
/GNU-AGPL-3.0
/*.pdb
/README
/THIRD-PARTY-NOTICES
